[submodule "contracts/v2-core"]
	path = contracts/v2-core
	url = git@github.com:Uniswap/v2-core.git
[submodule "contracts/v2-periphery"]
	path = contracts/v2-periphery
	url = git@github.com:Uniswap/v2-periphery.git
[submodule "contracts/v3-core"]
	path = contracts/v3-core
	url = git@github.com:Uniswap/v3-core.git
[submodule "contracts/v3-periphery"]
	path = contracts/v3-periphery
	url = git@github.com:Uniswap/v3-periphery.git
